includes:
    - phpstan-baseline.neon
    - vendor/cakedc/cakephp-phpstan/extension.neon

parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - tests/bootstrap.php
    cakeDC:
        appNamespace: Crustum\Meta
    tmpDir: build/phpstan
    ignoreErrors:
        -
            identifier: new.static
            reportUnmatched: false

services:
